# tegra_rcm udev rules
#  idVendor           0955
#  idProduct          7321

ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0955", ATTR{idProduct}=="7321", RUN+="/usr/bin/fusee-nano /usr/share/fusse-nano/payload.bin"
